@charset "UTF-8";
/*
Variable Grid System.
Learn more ~ http://www.spry-soft.com/grids/
Based on 960 Grid System - http://960.gs/

Licensed under GPL and MIT.
 */
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ ゴシック", sans-serif;
  width: 100%;
  height: 100%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  *zoom: 1;
}
#wrapper:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

#page-header {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  background: #cfcfcf;
  padding: 12px;
}
#page-header h1 {
  font-size: 1.13em;
  line-height: 1.5;
  padding-bottom: 0.5em;
}

#contents {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
  padding: 12px;
  height: 1700px;
  border: 1px solid #ccc;
}

#contents_right {
  display: inline;
  float: right;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 620px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  height: 1700px;
  border: 1px solid #ccc;
}

#sidebar {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  background: #efefef;
}
#sidebar article {
  padding: 20px;
  background: #fcfcfc;
  margin-bottom: 2px;
}
#sidebar article h2 {
  font-size: 1em;
  line-height: 1.5;
}
#sidebar article p {
  line-height: 1.4;
}

#sidebar_left {
  display: inline;
  float: right;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0;
  padding: 12px;
  background: #efefef;
}
#sidebar_left article {
  padding: 20px;
  background: #fcfcfc;
  margin-bottom: 2px;
}
#sidebar_left article h2 {
  font-size: 1em;
  line-height: 1.5;
}
#sidebar_left article p {
  line-height: 1.4;
}
