body {
    font-family:  $my_suns-self_font;
    width: 100%;
    height: 100%;
}


#wrapper {
    @include grid-container($contentWidth, $gutterWidth);
}


 #page-header {
     @include grid(12);
     height: 100px;
     background: #cfcfcf;
     padding: 12px;
     h1 {
         font-size:fz(18);
         line-height: 1.5;
         padding-bottom:fz(8);
     }
 }

#contents {
    @include grid(8);
    @include grid-omega;
    padding: 12px;
    height: 1700px;
    border: 1px solid #ccc;
}

#contents_right {
    @include grid(8,right);
    padding: 12px;
    height: 1700px;
    border: 1px solid #ccc;
}

#sidebar {
    @include grid(4);
    padding: 12px;
    background: #efefef;
    article {
        padding: 20px;
        background: #fcfcfc;
        margin-bottom: 2px;
        
        h2{
            font-size: fz(16);
            line-height: 1.5;
        }
        
        p {
            line-height: 1.4;
        }
        
    }
    
}

#sidebar_left {
    @include grid(4,right);
    @include grid-alpha;
    padding: 12px;
    background: #efefef;
    
    article {
        padding: 20px;
        background: #fcfcfc;
        margin-bottom: 2px;
        
        h2{
            font-size: fz(16);
            line-height: 1.5;
        }
        
        p {
            line-height: 1.4;
        }
        
    }
}

